body::-webkit-scrollbar {
  width: 0.3em;
  height: 50px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(186, 101, 25, 0.3);
  background-color:#0f1624;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #ff7b00;
  outline: 1px solid slategrey;
}

